/* Main Content */
.main-board {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #f7f9fc;
  margin: auto;
}
.main-title-board {
  border-radius: 10px; 
  padding: 30px; 
  margin: auto; 
  width: 100%;
  text-align: center; 
}

.main-title-board h1 {
  font-size: 2.5rem; /* ขนาดตัวอักษรที่ใหญ่ขึ้น */
  font-weight: 700; /* ตัวหนาเพื่อดึงดูดความสนใจ */
  color: #333; /* สีตัวอักษรที่ชัดเจน */
  margin-bottom: 15px; /* เพิ่มระยะห่างระหว่างหัวข้อกับเนื้อหา */
}

.main-title-board p {
  font-size: 1.1rem; /* ขนาดตัวอักษรที่พอดีอ่านสบาย */
  color: #666; /* สีตัวอักษรที่ไม่เข้มเกินไป */
  line-height: 1.6; /* ระยะห่างระหว่างบรรทัดเพิ่มความอ่านง่าย */
  margin-top: 0; /* ไม่ต้องการให้มีระยะห่างด้านบน */
  margin-bottom: 20px; /* ระยะห่างด้านล่าง */
  text-align: center; /* จัดข้อความให้เต็มบล็อก */
}

.main-title-board p::before {
  content: "💡 "; /* สัญลักษณ์ที่เพิ่มเข้าไปที่ต้นประโยคเพื่อดึงดูดความสนใจ */
  font-size: 1.5rem; /* ขนาดที่ใหญ่กว่าตัวข้อความเพื่อความโดดเด่น */
  color: #3498db; /* สีที่ทำให้ดูโดดเด่น */
}


.h1-board {
  text-align: center;
  font-size: 2.25rem; /* เพิ่มขนาดให้ใหญ่ขึ้น */
  color: #333;
  font-weight: bold;
}

.work-board {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ul-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .ul-board {
    grid-template-columns: repeat(1, 1fr); /* เปลี่ยนเป็น 2 คอลัมน์ */
  }

  .li-board {
    padding: 1rem;
  }

  .h1-board {
    font-size: 1.5rem;
  }

  .button-edit, .button-delete, .button-view {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
  .main-title-board{
    width: 95%;
    padding: 0px;
  }
}

@media (max-width: 480px) {
  .ul-board {
    grid-template-columns: 1fr; /* แสดงคอลัมน์เดียว */
  }

  .h1-board {
    font-size: 1.25rem;
  }
}
