
.confirm-reset-password-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #4725E1, #5E0C77);
  flex-direction: column;
  width: 100%;
  height: 100vh;

  margin: 0;
}

.confirm-reset-password-main{
  padding: 30px;
}

.confirm-reset-password-container h2 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.confirm-reset-password-container form {
  width: 100%;
}

.confirm-reset-password-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.confirm-reset-password-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.confirm-reset-password-container button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.confirm-reset-password-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.confirm-reset-password-container button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.error-message {
  color: #ffb3b3; /* สีข้อความข้อผิดพลาด */
  background: rgba(255, 0, 0, 0.2); /* พื้นหลังข้อผิดพลาด */
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}

.error-message ul {
  list-style-type: disc; /* bullet points */
  padding : 0 1.5rem; /* ระยะจากขอบ */
}

.error-message li {
  margin-bottom: 0.5rem; /* ระยะห่างระหว่างบรรทัด */
  line-height: 1.5;
}

.success-message {
  color: #3ddc84; /* สีข้อความสำเร็จ */
  background: rgba(61, 220, 132, 0.2); /* พื้นหลังข้อความสำเร็จ */
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* เพิ่มเงา */
}
