/* Message Box */
.message-box {
    position: fixed;
    margin: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #007bff;
    padding: 1rem 1.25rem; /* ใช้ rem */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 90%;
    transition: transform 0.3s ease;
  }
  
  .message-box:hover {
    transform: translateX(-50%) translateY(-5px);
  }
  
  .message-box p {
    margin: 0;
    font-size: 1.125rem; /* ใช้ rem */
    color: #333;
  }
  
  .message-box button {
    margin-left: 0.625rem; /* ใช้ rem */
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 0.75rem; /* ใช้ rem */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  